## Python Data Structures and Boolean

- **Boolean**: A data type representing truth values, either True or False.

- **Boolean and Logical Operators**: Special symbols or words used to perform logical operations on Boolean values. Examples include "and", "or", and "not".

- **Lists**: An ordered collection of items enclosed in square brackets ([]). Lists can contain elements of different data types and can be modified (mutable).

- **Comparison operators**: Symbols used to compare values. Examples include "==", ">", "<", ">=", "<=", and "!=".

- **Dictionaries**: A collection of key-value pairs enclosed in curly braces ({}) where each key is associated with a value. Keys must be unique and immutable, while values can be of any data type (mutable).

- **Tuples**: An ordered collection of items enclosed in parentheses (()). Tuples are similar to lists but are immutable, meaning their elements cannot be changed after creation.

- **Sets**: An unordered collection of unique items enclosed in curly braces ({}). Sets do not allow duplicate elements, and they are mutable.

### Boolean Variables

Boolean values in Python are represented by the two constant objects `True` and `False`. They are used to indicate truth values, where `True` represents true and `False` represents false.

In a numeric context, such as when used as the argument to an arithmetic operator, `True` behaves like the integer `1`, and `False` behaves like the integer `0`.

You can use the built-in function `bool()` to cast any value to its corresponding Boolean value, if the value can be interpreted as a truth value.

Boolean values are written as `True` and `False` respectively.

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
True or False

True

In [4]:
print(True, False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
x = True
y = False

print(x and y)
print(x or y)  
print(not x)

False
True
False

In [8]:
temperature = 25
is_hot = temperature > 30
is_cold = temperature < 10

print(is_hot)   
print(is_cold)

False
False

In [9]:
is_raining = True

if is_raining:
    print("Remember to bring an umbrella!")
else:
    print("No need for an umbrella today.")

Remember to bring an umbrella!

In [10]:
def is_even(number):
    return number % 2 == 0

print(is_even(4)) 
print(is_even(3))

True
False

In [11]:
str_exp = 'Hello NCR'
my_str ='Amit'

In [12]:
my_str.isalpha() or str_exp.isnum()

True

In [13]:
mystr ='Amit123'

In [14]:
print(mystr.isalnum())  # check if all char are numbers
print(mystr.isalpha()) # check if all char in the string are alphabetic
print(mystr.isdigit()) # test if string contains digits
print(mystr.istitle()) # test if string contains title words
print(mystr.isupper()) # test if string contains upper case
print(mystr.islower()) # test if string contains lower case
print(mystr.isspace()) # test if string contains spaces
print(mystr.endswith('t')) # test if string endswith a L
print(mystr.startswith('A')) # test if string startswith a A

True
False
False
True
False
False
False
False
True

### Lists

A list in Python is like a container where you can put different things (like numbers or words) in a particular order. It's like a shopping list, where you can add or remove items anytime you want. Just like how words are put in quotes, items in a list are put inside square brackets [].

In [15]:
lst_example =[]

In [16]:
type(lst_example)

list

In [17]:
lst = list()

In [18]:
type(lst)

list

In [19]:
lst = ['Math', 'Physics', 10, 45, 40]

In [20]:
len(lst)

5

#### Append:

Append is used to add elements in the list.

In [21]:
my_list = [1, 2, 3]

Appending a single element to the end of the list:

In [22]:
my_list.append(5)
my_list

[1, 2, 3, 5]

Appending a list to another list as a single element:

In [23]:
my_list.append([4, 5])
my_list

[1, 2, 3, 5, [4, 5]]

##### Indexing in List:

In [24]:
my_list = [10, 20, 30, 40, 50]

Accessing the first item in the list:

In [25]:
my_list[0]

10

Accessing the third item in the list:

In [26]:
my_list[2]

30

Accessing the last item in the list using negative indexing:

In [27]:
my_list[-1]

50

Updating a value in the list using indexing:

In [28]:
my_list[2] =100
my_list

[10, 20, 100, 40, 50]

Accessing a sublist (slicing):

In [29]:
my_list[1:4]

[20, 100, 40]

##### Insert:

Insert in a specific order.

In [30]:
my_list = [1, 2, 4]

Inserting an element at a specific index:

In [31]:
my_list.insert(2, 'Amit')
my_list

[1, 2, 'Amit', 4]

Inserting an element at the end of the list:

In [32]:
my_list.insert(len(my_list),60)
my_list

[1, 2, 'Amit', 4, 60]

Inserting multiple elements at once:

In [33]:
my_list.insert(3, [40,50])
my_list

[1, 2, 'Amit', [40, 50], 4, 60]

##### Extend

Extending a list with elements from another list:

In [34]:
my_list = [1, 2, 3]
additional_list = [4, 5, 6]
my_list.extend(additional_list)
my_list

[1, 2, 3, 4, 5, 6]

Extending a list with elements from a range:

In [35]:
my_list.extend(range(2,5))
my_list

[1, 2, 3, 4, 5, 6, 2, 3, 4]

Extending a list with elements from a string:

In [36]:
my_list.extend("Hello")
my_list

[1, 2, 3, 4, 5, 6, 2, 3, 4, 'H', 'e', 'l', 'l', 'o']

Extending a list with elements from another list multiple times:

In [37]:
my_list.extend(additional_list *2)
my_list

[1, 2, 3, 4, 5, 6, 2, 3, 4, 'H', 'e', 'l', 'l', 'o', 4, 5, 6, 4, 5, 6]

#### Remove List Items

**Remove Specified Item**

The remove() method removes the specified item.

In [38]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
my_list.remove('English')
my_list

['Hindi', 'Math', 'Sanskrit']

If there are more than one item with the specified value, the remove() method removes the first occurance.

In [39]:
my_list = ["Hindi", "English", "Math","Sanskrit", "English"]
my_list.remove('English')
my_list

['Hindi', 'Math', 'Sanskrit', 'English']

**Remove Specified Index**

The pop() method removes the specified index.

In [40]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
my_list.pop(1)
my_list

['Hindi', 'Math', 'Sanskrit']

If you do not specify the index, the pop() method removes the last item.

In [41]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
my_list.pop()
my_list

['Hindi', 'English', 'Math']

The **del** keyword also removes the specified index

Remove the first item

In [42]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
del my_list[0]
print(my_list)

['English', 'Math', 'Sanskrit']

The del keyword can also delete the list completely.

In [43]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
del my_list

**Clear the List**

The **clear()** method empties the list. The list still remains, but it has no content.

In [44]:
my_list = ["Hindi", "English", "Math","Sanskrit"]
my_list.clear()
print(my_list)

[]

### Sets

A set is an unordered collection of data types that is iterable, mutable, and has no duplicate elements. 

Python's `set` class represents the mathematical notation of a set. This is based on a data structure known as a hash table.


**Note: Set does not support indexing.**

In [45]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionary are wrritten with curly brackets{} and the have key and values.

#### Python Quizs

   gender   age
0    male  25.0
1  female  30.0
2    male  27.0
3  female  32.0

In [125]:
fruits = ['apple', 'banana', 'apricot', 'orange', 'avocado']

new_list = [x for x in fruits if x[-1] =='e']
for i in new_list:
    print(i)

apple
orange

In [52]:
salary = [100, 200, 50, 20, 10]
new_salary = [x for x in salary if x >20 and x<200]
for i in new_salary:
    if i !=100:
        print(i)

50

In [53]:
for i in fruits:
    if i.startswith('a'):
        print(i)

apple
apricot
avocado

In [54]:
numbers = [2, 3, 4, 6, 5]
qsr_list = [x for x in numbers if x % 2==0]
for i in qsr_list:
    print(i)

2
4
6

In [55]:
countries = ["USA", "Canada", "UK", "Germany"]
capitals = ["Washington", "Ottawa", "London", "Berlin"]

new_list = [(countries,capitals) for countries, capitals in zip(countries,capitals)]
print(new_list)

[('USA', 'Washington'), ('Canada', 'Ottawa'), ('UK', 'London'), ('Germany', 'Berlin')]

In [56]:
#df.columns = [col.lower() for col in df.columns]
#df.columns = map(lambda x : x.lower(), df.columns)
#df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [1]:
numbers = [[2, 3, 4, 6, 5],[], [1,2],[],[4,5,6,7]]
new_list = [x for x in numbers if x !=[]]
for i in new_list:
    print(i)

[2, 3, 4, 6, 5]
[1, 2]
[4, 5, 6, 7]

In [58]:
def find_second_largest(nums):
    sorted_nums = sorted(nums, reverse=True)  # Sort the list in descending order  
    second_largest = sorted_nums[1]  # The second element in the sorted list is the second largest   
    return second_largest

my_list = [5, 2, 8, 10, 3]
find_second_largest(my_list)

8

In [59]:
list_new = max([x for x in my_list if x != max(my_list)])
list_new

8

In [60]:
def isplaindrome(txt):
    return txt == txt[::-1]
    
if isplaindrome('eye'):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [61]:
df.groupby('department').apply(lambda x: x.nlargest(1, 'salary')).reset_index(drop = True)

   gender department  age  salary  award
0    male          A   27   55000      1
1  female          B   32   65000      4

In [62]:
df.groupby('department')['salary'].agg({'sum','mean','count'}).reset_index()

  department     mean     sum  count
0          A  52500.0  105000      2
1          B  62500.0  125000      2

In [63]:
df

   gender department  age  salary  award
0    male          A   25   50000      2
1  female          B   30   60000      3
2    male          A   27   55000      1
3  female          B   32   65000      4

In [64]:
df.pivot_table(values = ['salary','award'], 
               columns = 'department', aggfunc='sum').T.reset_index()

  department  award  salary
0          A      3  105000
1          B      7  125000

In [65]:
def factorial(n):
    if n ==0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

In [66]:
def factorial1(n):
    result =1
    for i in range(1, n+1):
        result *=i
    return result
factorial1(5)

120

In [118]:
for i in range(1,21):
    if i % 3 == 0 and i % 5 ==0:
        print("FizzBuzz")
    elif i % 3 ==0:
        print("Fizz")
    elif i % 5 ==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [26]:
def is_leap(year):
    if year % 4 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 400 == 0:
        return True
    else:
        return False

#year = int(input())
#print(is_leap(year))

In [16]:
def print_formatted(number):
    for i in range(1, number+1):
        l=len('{0:b}'.format(number))
        #print(l)
        l=int(l)
        print('{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}'.format(i,width= l))

n = int(input())
print_formatted(n)

 17

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [19]:
def fuzzbuzz(n):
    for i in range(1, n+1):
        if i % 3==0 and i % 5==0:
            print('FizzBuzz')
        elif i % 3 ==0:
            print('Fizz')
        elif i % 5 ==0:
            print("Buzz")
        else:
            print(i)
fuzzbuzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

Write a Python class named Employee with attributes name, age, and salary, and a method display() to print the details of the employee.